{% extends 'base.html.twig' %}

{% block header_title %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h1>Modifier <strong>{{user.username}}</strong></h1>
    </div>
</div>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}